.home {
  padding: 14rem 0rem 10rem 0rem;
  width: calc(100% - 10rem);
  margin: 0 auto;
}

.heading {
  font-size: 2.4rem;
  font-size: 500;
  line-height: 4rem;
}

.text {
  /* margin-top: 1.2rem; */
  font-size: 1.2rem;
  font-size: 300;
  line-height: 2rem;
}

.subHeading {
  font-size: 1.6rem;
  font-size: 400;
  line-height: 2.4rem;
}

.tac {
  text-align: center;
}

.rightIcon {
  font-size: 3rem;
  font-weight: 200;
}

.w-28 {
  width: 28%;
}

.jcse {
  justify-content: space-evenly;
}

.jcfe {
  justify-content: flex-start;
}

.jcsb {
  justify-content: space-between;
}

.sectionTop {
  padding-top: 10rem;
}

.bold {
  font-weight: bold;
}

.button:hover {
  opacity: 0.8;
  background-color: var(--red);
}

.button:hover > span {
  color: var(--lessWhite);
}

.button > img {
  margin-right: 1rem;
}

.button {
  display: flex;
  padding: 0.4rem 1.2rem;
  flex-direction: row;
  align-items: center;
  /* width: 10rem; */
  background-color: var(--lessWhite);
  border: 0.05rem solid var(--red);
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.button > span {
  font-size: 1.2rem;
  /* margin-left: 1rem; */
  font-weight: 600;
  color: var(--red);
  transition: color 0.3s linear;
}

.alsc {
  align-self: center;
}

.mt40 {
  margin-top: 4rem;
}

.google {
  width: 2rem;
}
