footer {
  padding: 1.4rem 5rem;
  border-top: 0.01rem solid var(--border);
  display: flex;
  width: calc(100% - 10rem);
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-top: 2rem; */
}

.author {
  font-size: 1rem;
  align-self: center;
}

a {
  color: var(--red);
}
