:root {
  --border: #ccc;
  --lessWhite: #fefefe;
  --black: #000;
  --red: indianred;
  --lightRed: #f8c7c7;
  --lightDark: #a7a7a7;
}

body,
html {
  padding: 0;
  background-color: var(--lessWhite);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cp {
  cursor: pointer;
}
